<title>Timeline - Ace Admin</title>
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/js/ztree/css/zTreeStyle/zTreeStyle.css" />	
<div class="row">
	<div class="col-xs-2" style="margin:0px; padding:0px; padding-right:3px;">
		<div class="widget-box widget-color-blue2">
			<div class="widget-header">
				<h4 class="widget-title lighter smaller">页面列表</h4>
			</div>
			<div class="widget-body" style="height:270px;">
				<div class="widget-main padding-8" style="max-height:270px;overflow:auto">
					<ul id="pageTree" class="ztree" ></ul>
				</div>
			</div>
		</div>
		<div class="widget-box widget-color-blue2" >
			<div class="widget-header" style="height:15px">
				<h5 class="widget-title lighter smaller">控件列表</h5>
			</div>
	
			<div class="widget-body" style="height:250px; ">
				<div class="widget-main padding-8" style="max-height:250px;overflow:auto">
					<ul id="widgetTree" class="ztree" ></ul>
				</div>
			</div>
		</div>		
	</div>	
	<div class="col-xs-10" style="margin:0px; padding:0px">
			<div class="main-content " style="margin:0px; padding:0px 0px" >
					<div class="widget-box ui-sortable-handle" id="widget-box-1">
							<div class="widget-header">
									<h5 class="widget-title">设计面板</h5>
									<!-- #section:custom/widget-box.toolbar -->
										<div class="widget-toolbar">
											<div class="widget-menu">
												<a href="#" data-action="settings" data-toggle="dropdown">
													<i class="ace-icon fa fa-bars"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
													<li>
														<a data-toggle="tab" href="#dropdown1">Option#1</a>
													</li>
										
													<li>
														<a data-toggle="tab" href="#dropdown2">Option#2</a>
													</li>
												</ul>
											</div>
										
											<a href="#" data-action="fullscreen" class="orange2">
												<i class="ace-icon fa fa-expand"></i>
											</a>
										
											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>
										
											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>
										
											<a href="#" data-action="close">
												<i class="ace-icon fa fa-times"></i>
											</a>
										</div>
							
							<!-- /section:custom/widget-box.toolbar -->
							</div>
					
							<div class="widget-body" style="height:570px;background-color:#ffffff">
								<div class="widget-main" >
									dsfsdfsdf
								</div>
								<div id="draggable" class="ui-widget-content">
								  <p>Drag me around</p>
								</div>
							</div>
					</div>								
			</div>
	</div>
	<div class="col-xs-12">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#home4">调试窗口</a>
					</li>

					<li>
						<a data-toggle="tab" href="#profile4">Profile</a>
					</li>

					<li>
						<a data-toggle="tab" href="#dropdown14">More</a>
					</li>
					
				</ul>

				<div class="tab-content">
					<div id="home4" class="tab-pane in active">
						<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
					</div>

					<div id="profile4" class="tab-pane">
						<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
					</div>

					<div id="dropdown14" class="tab-pane">
						<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
					</div>
				</div>
			</div>
	</div>
</div>
								
								
<script>
  $( function() {
	  
	  
    $( "#draggable" ).draggable();
	var setting = {
			edit: {
				enable: true,
				showRemoveBtn: false,
				showRenameBtn: false
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				beforeDrag: beforeDrag,
				beforeDrop: beforeDrop
			}
		};

		var zNodes =[
			{ id:1, pId:0, name:"随意拖拽 1", open:true},
			{ id:11, pId:1, name:"随意拖拽 1-1"},
			{ id:12, pId:1, name:"随意拖拽 1-2", open:true},
			{ id:121, pId:12, name:"随意拖拽 1-2-1"},
			{ id:122, pId:12, name:"随意拖拽 1-2-2"},
			{ id:123, pId:12, name:"随意拖拽 1-2-3"},
			{ id:13, pId:1, name:"禁止拖拽 1-3", open:true, drag:false},
			{ id:131, pId:13, name:"禁止拖拽 1-3-1", drag:false},
			{ id:132, pId:13, name:"禁止拖拽 1-3-2", drag:false},
			{ id:133, pId:13, name:"随意拖拽 1-3-3"},
			{ id:2, pId:0, name:"随意拖拽 2", open:true},
			{ id:21, pId:2, name:"随意拖拽 2-1"},
			{ id:22, pId:2, name:"禁止拖拽到我身上 2-2", open:true, drop:false},
			{ id:221, pId:22, name:"随意拖拽 2-2-1"},
			{ id:222, pId:22, name:"随意拖拽 2-2-2"},
			{ id:223, pId:22, name:"随意拖拽 2-2-3"},
			{ id:23, pId:2, name:"随意拖拽 2-3"}
		];

		function beforeDrag(treeId, treeNodes) {

		
			return true;
		}
		function beforeDrop(treeId, treeNodes, targetNode, moveType) {
		
			return ;
		}
		$(document).ready(function(){
			$.fn.zTree.init($("#widgetTree"), setting, zNodes);
			$.fn.zTree.init($("#pageTree"), setting, zNodes);
			zTree.setting.edit.drag.prev = false;
			zTree.setting.edit.drag.inner = false;
			zTree.setting.edit.drag.next = false;
		});    
  } );
  function ajaxObj(){
	  
	  $.post(url,data,succes,"json");
  }
</script>							
								