<title>系统配置</title>
<style>
.LB-right{
	 text-align: right;
}

</style>
<div class="row" >
			<div class="col-sm-12" style="margin:0px">
				<!-- #section:elements.tab -->
				<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#home">
								<i class="green ace-icon fa fa-home bigger-120"></i>
								系统
							</a>
						</li>

						<li>
							<a data-toggle="tab" href="#messages">
								<i class="green ace-icon fa fa-home bigger-120"></i>
								微信
							</a>
						</li>

						<li class="dropdown">
							<a data-toggle="tab"  href="#dropdown1">
								<i class="green ace-icon fa fa-home bigger-120"></i>
								商城
							</a>
						</li>
					</ul>

					<div class="tab-content" style="height:550px;">
						<div id="home" class="tab-pane fade in active">
						<!-- 系统配置 -->
							<form class="form-horizontal" id="sysform" role="form">
							<div class="row">
								<div class="col-sm-4">
									<div class="row">
									
											
												<div class="col-sm-4 LB-right" >logo</div>
												<div class="col-sm-8"><img src="{$Think.config.__PUBLIC__}/static/assets/images/gallery/thumb-3.jpg"/></div>
											
									</div>	
									<div class="space-6"></div>	
									<div class="row">	
												<div class="col-sm-12 LB-right" >
														<input type="file" name="sysimg" autocomplete="off" value="" class="form-control" placeholder="请上传系统照片"/>
												</div>
									</div>
									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname">
													<label>
														<input name="cunzai" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox">
														<span class="lbl"></span>
													</label>
												</div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8 " for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									
								
								</div>
								<div class="col-sm-4">

									<div class="space-6"></div>	
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>				
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8 " for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>								
								
								
								</div>								
								<div class="col-sm-4">

									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>																
								
								
								</div>							
							</div>
 							<div class="space-12"></div>	
							<div class="row">
							
								<div class="col-sm-12" style="text-align:center;">
									<button type="submit" class="btn btn-primary" id="sysSubmit" >提交</button>
									<button type="button" class="btn btn-primary" >返回上一页</button>
								</div>
							</div>
							
							</form>
						</div>
<!-- 微信 -->
						<div id="messages" class="tab-pane fade">
							<form class="form-horizontal" id="wechatform" role="form">
							<div class="row">
								<div class="col-sm-4">

									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									
								
								</div>
								<div class="col-sm-4">

									<div class="space-6"></div>	
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>				
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>								
								
								
								</div>								
								<div class="col-sm-4">

									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>																
								
								
								</div>							
							</div>
 							<div class="space-12"></div>	
							<div class="row">
							
								<div class="col-sm-12" style="text-align:center;">
									<button type="submit" class="btn btn-primary" id="wechatsubmit" >提交</button>
									<button type="button" class="btn btn-primary" >返回上一页</button>
								</div>
							</div>
							
							</form>
					
						</div>
<!-- 商城 -->
						<div id="dropdown1" class="tab-pane fade">
							<form class="form-horizontal" id="shopfrom" role="form">
							<div class="row">
								<div class="col-sm-4">
		
									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									
								
								</div>
								<div class="col-sm-4">

									<div class="space-6"></div>	
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>				
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>								
								
								
								</div>								
								<div class="col-sm-4">

									<div class="space-6"></div>		
									<div class="row">	
										
												<div class="col-sm-4 LB-right" >系统名称</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge" name="sysname" autocomplete="off" value="" placeholder="请输入系统名称"/></div>
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right"  >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>
									<div class="space-6"></div>																																																																							<div class="space-4"></div>			
									<div class="row">		
												<div class="col-sm-4 LB-right" >系统所有者</div>
												<div class="col-sm-8" for="sysname"><input type="text" class="input-xlarge"  name="sysauth" autocomplete="off" value="" placeholder="请输入系统名称"/></div>																				
											
									</div>																
								
								
								</div>							
							</div>
 							<div class="space-12"></div>	
							<div class="row">
							
								<div class="col-sm-12" style="text-align:center;">
									<button type="submit" id="shopSubmit" class="btn btn-primary" id="shopsubmit" >提交</button>
									<button type="button" class="btn btn-primary" >返回上一页</button>
								</div>
							</div>
							
							</form>
					
						</div>

					</div>
				</div>

				<!-- /section:elements.tab -->
			</div><!-- /.col -->

			<div class="vspace-6-sm"></div>

</div>
<script>

(function($){
	var input = {};
	var url=null;
	$("#sysSubmit").on("click",function(){
		$("#sysform").find("input").each(function(){
			
			//input.$(this).attr("name") = $(this).val();
			//alert($(this).val());
			eval("input."+$(this).attr("name")+"='"+$(this).val()+"';");
		});
		input.id=$(this).attr("data-id");
		url = $(this).attr("data-url");
		input.userSex=$(":checked").val();
	});
	$("#wechatsubmit").on("click",function(){
		$("#wechatform").find("input").each(function(){
			
			//input.$(this).attr("name") = $(this).val();
			//alert($(this).val());
			eval("input."+$(this).attr("name")+"='"+$(this).val()+"';");
		});
		input.id=$(this).attr("data-id");
		url = $(this).attr("data-url");
		input.userSex=$(":checked").val();
	});
	$("#shopsubmit").on("click",function(){
		$("#shopfrom").find("input").each(function(){
			
			//input.$(this).attr("name") = $(this).val();
			//alert($(this).val());
			eval("input."+$(this).attr("name")+"='"+$(this).val()+"';");
		});
		input.id=$(this).attr("data-id");
		url = $(this).attr("data-url");
		input.userSex=$(":checked").val();
	});
	//系统设置
	  $("#sysform").validate({
		    rules: {
		    	RoleName: {
		        required: true,
		      },
		      Css: {
		        required: true,
		      },
		    },
		    messages: {
		    	MenuName: {
		        required: "请输入角色名",
		      },
		      Css: {
		        required: "请输入样式",
		      },
		    },
  	    submitHandler: function() {
  	        //$('#myModal').modal('hide');

  	        $.post("{:url('index/sysconf/saveConf')}",
  	        {
  	        	RoleName : $('#RoleName').val(),
  	        	css : $('#css').val(),
  	        	IsDelete : IsDelete,
  	            id:id,
  	            oper:oper
  	        }, function (data)
  	        {
  	            if(data.code == 1){
  	            	 
  	            	window.reload();
  
  	            }else{
  	            	alert(data.msg);
  	            }
  	         
  	        }, 'Json');
  	
  	    }
		    
		});
	//微信配置
		  $("#wechatform").validate({
		    rules: {
		    	RoleName: {
		        required: true,
		      },
		      Css: {
		        required: true,
		      },
		    },
		    messages: {
		    	MenuName: {
		        required: "请输入角色名",
		      },
		      Css: {
		        required: "请输入样式",
		      },
		    },
  	    submitHandler: function() {
  	        //$('#myModal').modal('hide');

  	        $.post("{:url('index/sysconf/saveConf')}",
  	        {
  	        	RoleName : $('#RoleName').val(),
  	        	css : $('#css').val(),
  	        	IsDelete : IsDelete,
  	            id:id,
  	            oper:oper
  	        }, function (data)
  	        {
  	            if(data.code == 1){
  	            	 
  	            	window.reload();
  
  	            }else{
  	            	alert(data.msg);
  	            }
  	         
  	        }, 'Json');
  	
  	    }
		    
		});
	//商城设置
		  $("#shopfrom").validate({
			    rules: {
			    	RoleName: {
			        required: true,
			      },
			      Css: {
			        required: true,
			      },
			    },
			    messages: {
			    	MenuName: {
			        required: "请输入角色名",
			      },
			      Css: {
			        required: "请输入样式",
			      },
			    },
	  	    submitHandler: function() {
	  	        //$('#myModal').modal('hide');

	  	        $.post("{:url('index/sysconf/saveConf')}",
	  	        {
	  	        	RoleName : $('#RoleName').val(),
	  	        	css : $('#css').val(),
	  	        	IsDelete : IsDelete,
	  	            id:id,
	  	            oper:oper
	  	        }, function (data)
	  	        {
	  	            if(data.code == 1){
	  	            	 
	  	            	window.reload();
	  
	  	            }else{
	  	            	alert(data.msg);
	  	            }
	  	         
	  	        }, 'Json');
	  	
	  	    }
			    
			});

})(window.jQuery)



</script>